

@media screen and (min-width: 520px) {
	.footer-container {
		
		display: flex;
		max-width: auto;
		margin: auto;
		
	}
	
	.footer-container > * {
		flex: 1;
	}
	header{
		display: flex;
	}

}
@media screen and (min-width: 605px) {
	.activities-container {		
		margin: auto;	
	}
	header{
		display: flex;
	}
	.menu{
		border-bottom: none;
		flex: 0;
		order: 0;
	}
    .menu a:hover{
		color: #0065fc;
		border-top: 2px solid #0065fc;
		margin-top:0px ;
		border-bottom:none ;
	  }
	#hebergpopulaire 
	{		
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 25px;		
	}
	
	.hebergement
	{
		flex: 2;
		display: flex;
		flex-direction: column;
		border-radius: 20px 20px 20px 20px;	
		background-color: #f2f2f2;			
	}
	.lesPlusPopulaires{
		border-radius: 20px 20px 20px 20px;	
	}

	.herbergementMarseille{
		display: flex;
		flex-direction:row;
		justify-content: space-between;
        flex-wrap: nowrap;
		
			
	}
    .herbergementMarseille >*{ 
        flex: 1;}
 
	.rechercher{
		display: block;
		background-color: #0065fc;
		color: white;
			}
	.loupe  span i  
			{
				display: none;
			}
		
		
		
	
	.activities-container {
			display: flex;
			max-width: none;
			margin: auto;
		}
		
		.activities-container > * {
			flex: 1;
		}
		
	.activity-double-container {
			display: flex;
			flex-direction: column;
			padding: 1em;
		}
		
	.activity-double-container > * {
			flex: 1;
		}
	}
	@media screen and (min-width: 950px) {
		#hebergpopulaire 
	{		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
		
		
		
	}
.hebergement{
	margin-right: 25px;
}
}