@media screen and (min-width: 520px) {
	.footer-container {
		display: flex;
		margin: auto;
	}
	
	.footer-container > * {
		flex: 1;
		padding: 20px;
	}
	
}

@media screen and (min-width: 600px) {
	
	header{
		display: flex;
	}
	.menu{
		border-bottom: none;
		flex: 0;
		order: 0;
	}

	.menu a{
		border-top: 2px solid transparent;
	}
    .menu a:hover{
		color: #0065fc;
		border-top: 2px solid #0065fc;
		margin-top:0px ;
		border-bottom:none ;
	  }
	#hebergpopulaire {
		background-color: #f2f2f2;
	}
	.lesPlusPopulaires{
		display: flex;
		flex-direction: column;
	}
	.lespopulaires-section{
		display: flex;
		justify-content: space-between;
		  
	  }
	  .lesPlusPopulaires .section2 
	  {
	     flex: 1;
	     display: flex;
	     flex-direction: column;
	     flex-wrap: nowrap;
	     margin: 0 1rem;
	   
	  }
	  .lesPlusPopulaires .section2  img{
		  height: 6em;
		  border-radius: 20px 20px 0px 0px;
		  object-fit: cover;
		  width:100%;
	  }
	  .container-de-section{
		  margin-left: 10px;
	  }
	  /**************************************************************************************/
	  .herbergementMarseille{
		  display: flex;
		  flex-direction:row;
		  justify-content: start;
		  flex-wrap: nowrap;
		  margin: 0 1rem;
	  }
	  .herbergementMarseille .hotel{ 
		  flex: 1 100%;
		  margin:  1rem;
		  border-radius: 20px;
          border: 3px solid white;
	  }
    
   
	
	.rechercher{
		display: block;
		background-color: #0065fc;
		color: white;
			}
	.loupe  span i  
			{
				display: none;
			}
	.activities-container {
			display: flex;
			max-width: none;
			margin: auto;
		}
		
		.activities-container > * {
			flex: 1;
		}
		
		 #activities  {
			padding-top: 20px ;
		 }
		 .activite1 {  
			border:solid  1px #f2f2f2; 
			box-shadow: 4px 4px 6px #f2f2f2	;
			
		 }
	.activity-double-container {
		display: flex;
		flex-direction: column;
		padding:  1rem ;		
	}
		
	.activity-double-container > * {
		flex: 1 ;

		}
	.activity-double-container:first-child{
		padding-left: 0;

	}
	.activity-double-container:last-child{
		padding-right: 0;
	}
	.lesPlusPopulaires .section2 
		{max-width:none;
				
	}
}
		
	
	@media screen and (min-width:1144px) {
		.bloc_filtres{
   
			display: flex;
			flex-direction: row;
			align-items: center;
			align-content: center ;
		}
		.bloc_cont_filtres{
			margin-left: 20px;
		  }
		#hebergpopulaire 
	{		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin:0rem 2rem;
		background-color: white;
	}
.hebergement{
	margin-right: 25px;
	flex: 2;
	border-radius: 20px 20px 20px 20px;
    background-color:  #f2f2f2; 
    padding-top: 20px;
	
}
.afficherplus
{
   text-decoration: none;
   margin : 2em 2em 3em 2em;;
}
.lesPlusPopulaires{
	flex: 1;
	display: flex;
	flex-direction: column;
	border-radius: 20px 20px 20px 20px;
    padding-top: 20px;
	
}
.lespopulaires-section
{
	display: flex;
	flex-direction: column;
}


.lesPlusPopulaires .section2 
  {
	display: grid;
	grid-template-columns: repeat(2 ,1fr); 
	margin:  1rem 2rem;
  }
  
  .container-de-section{
	display: grid;
	grid-template-rows: 0fr 0.3fr 0.6fr;
	align-items:flex-end;
	padding-top: 5px;
  }
  

  .lesPlusPopulaires .section2   img{
     min-height: 8em;
     border-radius: 20px 0px 0px 20px;

  }
  
}

