body{
   font-family: 'Raleway', serif;
   margin: 0px;
   line-height: 1;
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: "Raleway", sans-serif;
  
}
#bloc-page{
   max-width: 100%;
   justify-content: center;
   margin: auto;
   display: block;
   font-family: "Raleway", sans-serif;
}
/***************************************************************
*****************************le Header et le mun ***************************/

header{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   flex-wrap: wrap;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}
.nav_logo{
   margin-right: auto;
   margin-left: 2rem ; 
}
.nav_logo img{
   width: 8rem;
   object-fit: cover;
}
header a{
   padding: 30px 40px;
}
.menu{
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   order: 3;
   
   flex: 1 100%; 
   }
   #menu_hebergements,#menu_activites{
    flex: 0 100%;
   }
.menu a{
   color: black;
   text-decoration: none;
   border-bottom: 2px solid #F2F2F2; 
}
.menu a:hover{
   color: #0065fc;
   border-bottom: 2px solid #0065fc;
   margin-top:0px ;
  }

#bloc_inscrire a{
   color: #0065fc;
   font-weight: bold;
   text-decoration: none;
  
}



/***********************************  fORMULAIRE ET les recherches d'hebergement********************/
/***********************************les recherches d'hebergement********************/
/***********************************les recherches d'hebergement********************/
/***********************************les recherches d'hebergement********************/

#formulaire
{ 
   font-family: "Raleway", sans-serif;
   margin: 0 2rem;
   
}
#formulaire h3
{
   font-weight:lighter;
   font-size: 15px;
}
#formulaire h2
{   
   font-size: 20px;
}
form{
   padding-top: 20px;
   padding-bottom: 40px;
   margin-left: 0px;
   height: 50px;
   display: flex;
   width: 100%;
   flex-direction: row;
   border-radius: 20px 0px 0px 20px;
}
form .map{
  background-color: #F2F2F2;
  border-radius: 20px 0px 0px 20px;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
  
}

form  .search
{
  font-weight: bold;
  background-color: white;
  font-size: 15px;
  padding: 20px;
  border: 1px solid  #f2f2f2;  
}


.loupe
{
   font-size: 12px;
   font-weight: bold;
   cursor: pointer;
   max-width: 100%;
   padding: 19px;
   align-self: center;
   border-radius: 0px 20px 20px 0px;
   border: none;
   background-color: #0065fc;
   color: white;}
  
  .loupe:hover{
   background-color: #deebff;
   color: #0065fc;
  }
.loupe  span i{
   display: block;
   background-color: #0065fc;
   color: white;
      }
.rechercher{
   display: none;
}
      
      /***************************************************************************/
      /***************************************************************************/
      /**********************section et puis div*********************************/
.bloc_filtres{
   display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.bloc_cont_filtres{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.bloc_information {
margin-left: 15px;
}


.filtre{
   font-size: 15px;
   height: 43px;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   align-items: center;
   border: 2px solid #f2f2f2;
   margin-right: 20px;
   border-radius: 40px;
   padding-right: 30px;
   cursor: pointer;
   justify-content: center;
   margin-bottom:10px ;
 }
.filtre i{
   width: 16px;
   align-content: center;
   padding: 16px;
   border-radius: 100px;
   color: #0065fc;
   background-color: #deebff;
   cursor: pointer;
   margin-right: 6px;
   margin-left: -6px;
   text-align: center;
 }
.filtre:hover i{
   color: #deebff;
   background-color: #0065fc;
 }
 
.bloc_information {


   margin: 2rem;
   font-weight: 400;
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 13px;
}
.bloc_information p{
   margin-left: 5px;
 }
 
 
      /***************************************************************************/
      /**************************************************************************
       les filtres
      /***************************************************************************/
      /***************************************************************************/
section .filtre .titre
{
   font-size: 18px;
   font-weight: bold;
   margin-right: 20px;
}

section .filtre .filtre1{
   font-size: 15px;
   height: 43px;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   align-items: center;
   border: 2px solid #f2f2f2;
   margin-right: 20px;
   border-radius: 40px;
   padding-right: 40px;
   cursor: pointer;
   justify-content:start;
  
}

.filtre i{
   width: 16px;
   align-content: center;
   padding: 16px;
   border-radius: 100px;
   color: #0065fc;
   background-color: #deebff;
   cursor: pointer;
   margin-right: 5px;
   margin-left: -5px;
   text-align: center;
}
.filtre i:hover {
   color: #deebff;
   background-color: #0065fc;
  }
  
  
/************************************************
*************les information***********************************************/
.bloc_information 
{
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 30px;
   font-size: 15px;
   font-weight: 400;
   display: flex;
   flex-direction: row;
   align-items: center;
}
  .bloc_information p
{
   margin-left: 15px;
}
/*********************************************************************************/
/*la grande section*/
#hebergpopulaire
{
   display: flex;
   height: auto;
   justify-content:space-around;
   flex-direction:column-reverse;
   background-color:white;
}
#hebergpopulaire a{
   text-decoration: none;
   color: #000;
}
.hebergement
{
   display: flex;
   flex-wrap: wrap;
   flex-direction:column;
}
.hebergement h2
{
   
   font-size: large;
   margin: 1rem 2rem;
}
.afficherplus
{
   text-decoration: none;
   margin : 2em 2em 2em 2em;
   font-weight: bold;
   font-size: 1em;
   color: black;

}

.herbergementMarseille{
   display: flex;
   flex-direction:column;
   flex-wrap: nowrap;
   margin: 0rem 2rem;
}

.herbergementMarseille   .hotel
{ 
   border-radius: 20px;
   box-shadow: 1px 1px 11px #CDCAD1;
   border: 2px solid white;
   background-color: white;
   display: flex;
   flex-direction: column;
	justify-content:flex-start;
   margin: 10px 0px;
   padding-bottom: 8px;
}

.herbergementMarseille .hotel  img{
  
   height: 7em;
   border-radius: 20px 20px 0px 0px;
   object-fit: cover;
   width:100%;
}
.herbergementMarseille .hotel  div{
  margin:0em 1rem;
}
.herbergementMarseille .hotel > *{
   line-height: 1.4rem;

}
.herbergementMarseille .hotel  .Engras{
   font-weight: 700;
 }


/********************************************************************/

 .lesPlusPopulaires
{  display: flex;
   flex-direction: column;
   background-color: #f2f2f2; 
}

.bloc_titre_populaires {
   display: flex;
   font-weight: bold;
   justify-content:space-between;
   font-weight: bold;
   flex-direction: row;
   flex-wrap: nowrap;
   font-size: 13px;
   margin: 0rem 2rem;
   
  }
.lesPlusPopulaires .section2{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   border-radius: 20px;
   border: 3px solid white;
   background-color: white;
   margin: 1rem 2rem; 
  
  }


.lesPlusPopulaires .section2   img{
   width:10em;
   height: 8em;
   border-radius: 20px 0px 0px 20px;
   margin-right: 0.6rem;
     
  }
.section2 .container-de-section{
	display: grid;
	grid-template-rows: 0fr 0.3fr 0.6fr;
	align-items:flex-end;
  }
.etoiles
{ 
   color: #0065fc;
   font-size: 11px;
   
}

/******************************************************/
/*********************************************************************************
*/

/*********************************************************************/

#activities {
   margin: 0rem 2rem; 
}
.activite1 {  
   border-radius: 1em;
   margin-bottom: 2em;
   display: flex;
   flex-direction: column;
   box-shadow: 2px 2px 20px #f2f2f2; 
   
}

.activity-double-container {
   text-decoration: none;
     color: #000;
      
}

.activite1-img {
   display: block;
   border-radius: 1em 1em 0 0;
   max-width: 100%;
   min-height: 7em;
   background-size: cover;
   background-position: center center;
   flex: 2;
   object-fit: cover;
}
.activite1 h6 {
   font-size: 1em;
   font-weight: bold;
   margin:0;
   padding:1em;
}

/**********************************le pied de Page************************************************/
/**********************************le pied de Page************************************************/

footer {
    background: #F2F2F2;
}

footer a {
   display:flex;
   text-decoration: none;
   padding-top: 1em;
   color: black;
}

.footer-container {
    padding: 1em;
}


